p {
  font-size: 1em;
  margin-bottom: 15px;
}
.bold {
  font-weight: bold;
}
.emoji {
  font-size: 1.2em;
}
.about-me-card {
  margin: 16px;
  padding: 16px;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 16px;
}

.bio-info {
  flex: 1;
}

.skills {
  margin-top: 8px;
}

.skills mat-chip {
  margin-right: 8px;
}

.actions {
  margin-top: 16px;
}

button {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

button mat-icon {
  margin-right: 8px;
}

// .social-links a {
//   text-decoration: none;
//   margin-right: 15px;
//   color: #333;
//   font-size: 1.5em;
// }
// .social-links a:hover {
//   color: #0077b5; /* LinkedIn blue color, change on hover */
// }