p {
  font-size: 1em;
  margin-bottom: 15px;
}
.bold {
  font-weight: bold;
}
.emoji {
  font-size: 1.2em;
}
.about-me-card {
  margin: 16px;
  padding: 16px;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  .image-container{
    display: flex;
    flex-direction: column;
  }
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 16px;
}

.bio-info {
  flex: 1;
}

.skills,.certifications {
  margin-top: 8px;
  mat-chip {
    margin-right: 8px;
  }
}
.certifications{
  display: flex;
  justify-content: flex-start;
}

.actions {
  margin-top: 16px;
}

button {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

button mat-icon {
  margin-right: 8px;
}