.books-container-wrapper {
  position: relative; /* For positioning the arrows */
  overflow: hidden; /* Hide the scrollbar */
  display: flex;
  align-items: center; /* Vertically center the arrows */
  width: 100%; /* Full width */
  margin-top: 16px;

}
.books-container {
  display: flex;  /* Arrange cards horizontally */
  overflow-x: auto; /* Allow horizontal scrolling */
  gap: 16px; /* Add spacing between the cards */
  scroll-snap-type: x mandatory; /* Snap scrolling for a smoother experience */
  overflow-y: hidden;
  --webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  ::-webkit-scrollbar { /* chrome */
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.book{
  &-card {
    width: 25vw; /* Set the width of each book card */
    min-height: 55vh;
    flex-shrink: 0; /* Prevent cards from shrinking */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Optional rounded corners for the card */
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  &-header .title-container{
    display: flex;
  }
}
.spacer {
  flex: 1 1 auto;
}
mat-icon {
  margin-right: 8px;
  font-size: 20px;
}


mat-card-content {
  padding: 16px;
  font-size: 14px;
}


.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  z-index: 1; /* Keep the arrows above the scrollable content */
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

/* Arrow hover effect */
.scroll-arrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
}



  

  