<mat-toolbar>
  <span>
    <span>MOYALAN JINTO JOSAN</span>
     
  </span>
  <span class="spacer"></span>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (link of links; track link) {
      <a mat-tab-link [href]="'#'+link"
        (click)="activeLink = link"
        [active]="activeLink == link"> {{link|titlecase}} </a>
    }
  </nav>
  @for(icon of utility.getKeys(icons); track icon){
    <a mat-icon-button [href]="icons[icon]" target="_blank">
      <mat-icon [svgIcon]="icon" aria-hidden="false" 
          aria-label="Linkedin"></mat-icon>
    </a>
  }   
  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{ isLightMode ?  'brightness_7' : 'brightness_4' }}</mat-icon>
  </button>
</mat-toolbar>
<div class="section-container">
  <div #section id="profile" class="section">
    <h2 appHighlightFirstLetters>About me</h2>
    <app-about-me ></app-about-me>
  </div>
  <div #section id="skills" class="section">
    <h2 appHighlightFirstLetters>Core Tech Stack</h2>
    <app-skills ></app-skills>
  </div>  
  <div #section id="projects" class="section">
    <h2 appHighlightFirstLetters>Projects</h2>
    <app-projects ></app-projects>
  </div>  
  <div #section id="books" class="section">
    <app-books ></app-books>
  </div>
</div>











