@use '@angular/material' as mat;

@include mat.core();
//https://material.angular.io/guide/theming-your-components#reading-values-from-a-theme
$light-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
    // use-system-variables: true
    // system-variables-prefix:
  )
));
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
    // use-system-variables: true
    
  ),
));


/* You can add global styles to this file, and also import other style files */
html{
  scroll-behavior: smooth;
  overflow: hidden;
  //this generates lot of system variables fo rach component
  @include mat.all-component-themes($dark-theme);

  &.light-theme{
    @include mat.all-component-colors($light-theme);
      
  }
}
html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    
   
}
